.vscode
*megaphone
*phonebook
*account
*log
*zombie
*zombieHorde
*brain
*violence
*replace
*sample*
*karen
*karenFilter
*a.out
*.o
*claptrap
*scavtrap
*fragtrap
*diamondtrap
*memo.txt
*polymorphism
*interface
*beaucrat
*beaucrat
*form
*execform
*_shrubbery
*intern
*convert
*serialize
*base
*template